# Byte-compiled Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore IDE-specific files
.vscode/
.idea/
*.swp
