name: edu06_env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - pip
  - pip:
    - azure-ai-ml
    - openslide-python
    - pillow
    - numpy
    - torch
    - torchvision
    - cellpose==2.2.1
