name: edu06_env
channels:
  - rapidsai
  - pytorch
  - conda-forge
  - nvidia
  - defaults
dependencies:
  - python=3.10
  - rapids=24.10
  - cuda-version=11.8
  - openslide
  - openslide-python
  - scikit-learn
  - matplotlib
  - kneed
  - umap-learn
  - numpy<2.0
  - pillow
  - scikit-image
  - py-opencv
  - pytorch=2.1.*
  - torchvision=0.16.*
  - pytorch-cuda=11.8
  - pip
  - pip:
    - azure-ai-ml
    - azure-identity
    - azure-keyvault-secrets
    - azureml-core
    - python-dotenv
    - cellpose==4.0.8
    - openai
