name: edu06_env
channels:
  - rapidsai
  - conda-forge
  - nvidia
  - defaults
dependencies:
  - python=3.10
  - cudatoolkit=11.8
  - rapids=23.10
  - openslide
  - openslide-python
  - pip
  - pip:
    - azure-ai-ml
    - azure-identity
    - azure-keyvault-secrets
    - pillow
    - numpy
    - torch
    - torchvision
    - scikit-image
    - cellpose==3.1.1
    - openai