name: edu06_env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - openslide
  - openslide-python
  - pip
  - pip:
    - azure-ai-ml
    - pillow
    - numpy
    - torch
    - torchvision
    - scikit-image
    - cellpose==3.1.1
    - openai
